<html>
<head><title>Test</title></head>
<body>
  <ul id="content">
    <li><a href="#">Title</a><div class="body-content">This is <b>body</b> content</div></li>
    <li><a href="#">Title</a><div class="body-content">This is body content</div></li>
    <li><a href="#">Title</a><div class="body-content">This is body <i>content</i></div></li>
    <li><a href="#">Title</a><div class="body-content">This is body content</div></li>
    <li><a href="#">Title</a><div class="body-content">This is body content</div></li>
    <li><a href="#">Title</a><div class="body-content">This is body content</div></li>
  </ul>
</body>
</html>
