/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.item .lead {
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.item .value {
  margin: 0 20px 10px;
  max-height: 36px;
}

.item .value.body {
  max-height: 200px;
}

h3 a {
  display: block;
}

h3 a:not(.collapsed) .fa-chevron-down {
  display: inline-block;
}

h3 a.collapsed .fa-chevron-down {
  display: none;
}

h3 a:not(.collapsed) .fa-chevron-up {
  display: none;
}

h3 a.collapsed .fa-chevron-up {
  display: inline-block;
}
